body {
    background-color: #ddd;
    font-family: "Segoe UI", system-ui, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    border: 1px solid #ccc;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 12px;
}

.input-container label {
    display: block;
    margin-bottom: 8px;
}

.btn {
    background-color: #003366;
    color: #ccc;
    border: none;
    padding: 8px;
    border-radius: 4px;
    display: block;
    width: 100%;
}